@layer tags {
  .img-tag-selected-0 {
    @apply !bg-teal-600;
    @apply !text-white;
  }

  .img-tag-selected-1 {
    @apply !bg-pink-600;
    @apply !text-white;
  }

  .img-tag-selected-2 {
    @apply !bg-yellow-300;
    @apply !text-white;
  }

  .ReactTags__tags {
    @apply !flex !flex-col;
  }

  .ReactTags__tagInput {
    @apply !flex;
    @apply !rounded-lg;

    input.ReactTags__tagInputField {
      @apply h-10;
      @apply m-0;
      @apply p-2;
      @apply text-lg;
    }
  }

  .ReactTags__editInput {
    border-radius: 1px;
  }

  .ReactTags__editTagInput {
    display: inline-flex;
  }

  .ReactTags__selected {
    display: flex;
    justify-content: center;

    span.ReactTags__tag {
      @apply flex items-center;
      @apply bg-gray-300;
      @apply text-gray-800;
      @apply text-base;
      @apply p-2;
      @apply mr-2;
      @apply rounded-md;
      @apply !cursor-pointer;
      @apply border-4;
      @apply border-gray-800;
      @apply border-solid;
    }

    .ReactTags__remove {
      display: none;
    }
  }

  .ReactTags__suggestions {
    position: absolute;
    @apply z-50;

    ul {
      list-style-type: none;
      box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
      background: white;
      width: 200px;
      padding: 5px 0;
    }

    li {
      padding: 5px 10px;
      margin: 0;
      text-align: left;

      mark {
        text-decoration: underline;
        background: none;
      }

      &.ReactTags__activeSuggestion {
        background: #4dabf7;
        color: #fff;
        cursor: pointer;

        span mark {
          color: #fff;
        }
      }
    }
  }

  .ReactTags__remove {
    border: none;
    cursor: pointer;
    background: none;
    color: #fff;
    padding: 5px;
  }

  .ReactTags__error {
    color: #e03131;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      padding: 0 5px;
    }
  }
}
